<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FutureFarm Hub</title>
    <link rel="icon" type="image/x-icon" class="circular-img"
        href="{{ url_for('static', filename='img/favicon.png') }}">
    <link href="{{ url_for('serve_static', filename='profiles/css/styles.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('serve_static', filename='profiles/css/style.css') }}">

    <style>
        .toggle {
            display: inline-block;
            cursor: pointer;
            font-size: 16px;
            border: 2px solid #ccc;
            border-radius: 20px;
            padding: 5px 15px;
            background-color: #fff;
            color: #555;
            margin-bottom: 20px;
        }

        .toggle.active {
            border-color: #2ecc71;
            background-color: #2ecc71;
            color: #fff;
        }

        .toggle.inactive {
            border-color: #e74c3c;
            background-color: #e74c3c;
            color: #fff;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 50%;
            border-radius: 8px;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        /* Define styles for the toggle button states */
        .pending {
            background-color: #ffc107;
            /* Yellow */
            color: #212529;
            /* Dark */
        }

        .accepted {
            background-color: #28a745;
            /* Green */
            color: #fff;
            /* White */
        }
    </style>
</head>

<body>
    <nav>
        <div class="nav-left">
            <a href="/"><!--Add home link-->
                <img src="../../../static/profiles/img/Logoimg.jpeg" alt="Logo" class="logo">
            </a>
            <ul>
                <li><a onclick="openUploadModal()" target="_blank"><img
                            src="../../../static/profiles/img/notification-bell.png" title="Notification"></a></li>
                </li>
            </ul>
        </div>
        <div class="nav-right">
            <div class="search-box">
                <img src="../../../static/profiles/img/search.png">
                <input type="text" id="searchInput" placeholder="Search">
            </div>


            <div class="nav-user-icon" id="userDropdown">
                <img id="profilePic" src="data:image/jpeg;base64,{{ image }}">
                <span id="userName" class="user-name" onclick="toggleDropdown()">{{ laborer['Name'] }}</span>
                <span class="dropdown-icon" id="userDropdown" id="dropdown-icon" onclick="toggleDropdown()">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="0 0 32 40" version="1.1" x="0px" y="0px">
                        <title>Dropdown</title>
                        <desc>Created with Sketch.</desc>
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <path
                                d="M16.5,16.6829222 L19.3492086,14.2407434 C19.7685345,13.8813212 20.3998345,13.9298828 20.7592566,14.3492086 C21.1186788,14.7685345 21.0701172,15.3998345 20.6507914,15.7592566 L17.1507914,18.7592566 C16.7763016,19.0802478 16.2236984,19.0802478 15.8492086,18.7592566 L12.3492086,15.7592566 C11.9298828,15.3998345 11.8813212,14.7685345 12.2407434,14.3492086 C12.6001655,13.9298828 13.2314655,13.8813212 13.6507914,14.2407434 L16.5,16.6829222 Z M16.5,26.5 C10.7010101,26.5 6,21.7989899 6,16 C6,10.2010101 10.7010101,5.5 16.5,5.5 C22.2989899,5.5 27,10.2010101 27,16 C27,21.7989899 22.2989899,26.5 16.5,26.5 Z M16.5,24.5 C21.1944204,24.5 25,20.6944204 25,16 C25,11.3055796 21.1944204,7.5 16.5,7.5 C11.8055796,7.5 8,11.3055796 8,16 C8,20.6944204 11.8055796,24.5 16.5,24.5 Z"
                                fill="#000000" fill-rule="nonzero" />
                        </g><text x="0" y="47" fill="#000000" font-size="5px" font-weight="bold"
                            font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">Created by Yurii
                            Harmash</text><text x="0" y="52" fill="#000000" font-size="5px" font-weight="bold"
                            font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">from the Noun
                            Project</text>
                    </svg>
                </span>
                <div id="dropdownContent" class="dropdown-content">
                    <form id="logoutForm" action="/logout" method="POST">
                        <button type="submit" class="signoutBtn">
                            <b>Log Out</b>
                        </button>
                    </form>
                </div>

            </div>


        </div>
    </nav>

    <div class="container">
        <!-- left-sidebar -->
        <div class="left-sidebar" id="leftSidebar">
            <div class="imp-links">
                <button id="toggleButton"
                    class="toggle {{ 'active' if laborer['AvailabilityStatus'] == 1 else 'inactive' }}"
                    onclick="toggleStatus()" value="{{ AvailabilityStatus }}">
                    {{ 'Available' if laborer['AvailabilityStatus'] == 1 else 'Not Available' }}
                </button>


                <a href="/load_marketplace" id="marketplace-link">
                    <img src="../../../static/profiles/img/marketplace.png" alt="Marketplace">Marketplace
                </a>
                <a href="#" onclick="search_friend()"><img src="../../../static/profiles/img/friends.png">Friends</a>
                <a href="/load_Chat" id="Chat-link"><img src="../../../static/profiles/img/chat.png">Conversation</a>
                <a href="#" onclick="toggleUpdateOptions()"> <img
                        src="../../../static/profiles/img/information.png">Update Your
                    Information</a>
            </div>
            <div id="updateOptions" style="display: none;">
                <div>
                    <p type="hidden"> <input type="hidden" id="LaborerID" value="{{ laborer['LaborerID'] }}"></p>
                    <p type="hidden"> <input type="hidden" id="UserID" value="{{ laborer['UserID'] }}"></p>
                    <p>Region: <input type="text" id="regionInput" value="{{ laborer['RegionID'] }}"></p>
                    <p>Name: <input type="text" id="nameInput" value="{{ laborer['Name'] }}"></p>
                    <p>Email: <input type="text" id="emailInput" value="{{ laborer['Email'] }}"></p>
                    <p>Skill: <input type="text" id="Skill" value="{{ laborer['Skills'] }}"></p>
                    <p>ExpectedIncome: <input type="text" id="ExpectedIncome" value="{{ laborer['ExpectedIncome'] }}">
                    </p>
                    <p>OnlinePaymentNumber: <input type="text" id="OnlinePaymentNumber"
                            value="{{ laborer['OnlinePaymentNumber'] }}"></p>
                    <p>Bankid: <input type="text" id="bankIDInput" value="{{ laborer['Bankid'] }}"></p>
                    <p>Contact: <input type="text" id="contactInput" value="{{ laborer['Contact'] }}"></p>
                    <form id="uploadForm" enctype="multipart/form-data">
                        <p>Profile Picture: <input type="file" id="imageInput" accept="image/*"></p>
                    </form>

                </div>
                <button onclick="updateChanges_Laborer() " class="upgrade">Update</button>
                <button onclick="cancelChanges()" class="cancel">Cancel</button>
            </div>


        </div>




        <!--main-sidebar-->
        <div class="main-content" id="main-content">
            <iframe src="www.example.com" width="100%" height="100%" style="border:none;"></iframe>
        </div>


        <!-- right-sidebar -->
        <div class="right-sidebar" id="right-sidebar">
            <div class="sidebar-title">
                <h4>Seminar</h4><img class="Seminar" src="../../../static/profiles/img/Seminar.png" alt="Seminar"
                    id="seminarButton">
            </div>



            <!-- Modal -->
            <div id="seminarModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2 id="modalSpeakerName"></h2>
                    <p id="modalDate"></p>
                    <p id="modalLocation"></p>
                    <p id="modalTime"></p>
                    <p id="modalDescription"></p>
                    <!-- Add an img tag for the seminar image -->
                    <img id="modalImage" src="" alt="Seminar Image" style="width: 200px;height:250px;">
                </div>
            </div>



            <div class="centered-table" id="tableContainer" style="display: none;">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Add Friend</th>
                            <th>View Profile</th>
                        </tr>
                    </thead>
                    <tbody id="search-results">
                        <!-- Table body content will be added dynamically -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div id="uploadModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeUploadModal()">&times;</span>
            <div id="dataList"></div> <!-- This is where the data should be appended -->
        </div>
    </div>




    <script src="{{ url_for('serve_static', filename='profiles/js/main.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('marketplace-link').addEventListener('click', function (event) {
                event.preventDefault(); // Prevent the default behavior of the link

                // Send AJAX request to load marketplace content
                fetch('/load_marketplace')
                    .then(response => response.json())
                    .then(data => {
                        // Change the content of the main-content div
                        var mainContent = document.getElementById('main-content');
                        if (mainContent) {
                            mainContent.innerHTML = data['main-content'];
                        } else {
                            console.error("main-content element not found.");
                        }
                    })
                    .catch(error => console.error('Error:', error));
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('Chat-link').addEventListener('click', function (event) {
                event.preventDefault(); // Prevent the default behavior of the link

                // Send AJAX request to load marketplace content
                fetch('/load_Chat?ID={{ laborer["LaborerID"] }}')  // Pass the FarmerID as a parameter
                    .then(response => response.json())
                    .then(data => {
                        // Change the content of the main-content div
                        var mainContent = document.getElementById('main-content');
                        if (mainContent) {
                            mainContent.innerHTML = data['main-content'];
                        } else {
                            console.error("main-content element not found.");
                        }
                    })
                    .catch(error => console.error('Error:', error));
            });
        });



        document.addEventListener('DOMContentLoaded', function () {
            // Add click event listener to the seminar button
            document.getElementById('seminarButton').addEventListener('click', function (event) {
                // Call the showSeminarDetails function when clicked
                showSeminarDetails();
            });
        });

        function showSeminarDetails() {
            $.ajax({
                url: '/seminar_details?RegionID={{ laborer["RegionID"] }}',
                type: 'GET',
                success: function (response) {
                    // Populate modal with seminar details
                    $('#modalSpeakerName').text(response['SpeakerName']);
                    $('#modalDate').text(response['meeting_date']);
                    $('#modalLocation').text(response['Location']);
                    $('#modalTime').text(response['meeting_time']);
                    $('#modalDescription').text(response['details']);

                    // Set default image source in case Image is empty or undefined
                    var imageSrc = response['Image'] ? 'data:image/jpeg;base64,' + response['Image'] : '/path/to/default/image.jpg';

                    $('#modalImage').attr('src', imageSrc); // Populate image src

                    // Display modal
                    $('#seminarModal').css('display', 'block');
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }




        // Close the modal when the user clicks on the close button
        $('.close').click(function () {
            $('#seminarModal').css('display', 'none');
        });

        // Close the modal when the user clicks anywhere outside of it
        window.onclick = function (event) {
            if (event.target == $('#seminarModal')[0]) {
                $('#seminarModal').css('display', 'none');
            }
        }

        function toggleStatus() {
            var button = document.getElementById("toggleButton");
            var availabilityStatus = button.classList.contains("active") ? 0 : 1; // Toggle availability status

            // Send AJAX request to Flask backend
            $.ajax({
                url: '/update_availability?laborer_id={{ laborer["LaborerID"] }}&availabilityStatus=' + availabilityStatus,
                type: 'POST',
                success: function (response) {
                    if (availabilityStatus === 1) {
                        button.classList.remove("inactive");
                        button.classList.add("active");
                        button.textContent = "Available";
                    } else {
                        button.classList.remove("active");
                        button.classList.add("inactive");
                        button.textContent = "Not Available";
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }




        function closeModal() {
            modal.style.display = "none";
        }

        window.onclick = function (event) {
            var uploadModal = document.getElementById("uploadModal");
            if (event.target == uploadModal) {
                uploadModal.style.display = "none";
            }
        };

        function openUploadModal() {
            var uploadModal = document.getElementById("uploadModal");
            uploadModal.style.display = "block";

            var laborerID = "{{ laborer['LaborerID'] }}";
            $('#dataList').empty();

            // Fetch data from the server
            $.ajax({
                url: '/fetch_data?laborer_id=' + laborerID,
                type: 'GET',
                success: function (response) {
                    var dataList = document.getElementById('dataList');
                    dataList.innerHTML = ''; // Clear previous data

                    response.forEach(function (result) {
                        var item = document.createElement('div');
                        item.classList.add('dataList');
                        item.innerHTML = `
                    <p>Farmer Name: ${result.FarmerName}</p>
                    <p id="FarmerID">Farmer ID: ${result.FarmerID}</p>
                    <p>Status: <button class="toggle-status ${result.status}" onclick="toggleStatus2(this, '${result.status}', '${result.FarmerID}')">${result.status}</button></p>

                `;
                        dataList.appendChild(item);
                    });
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching data:', error);
                }
            });
        }

        function closeUploadModal() {
            var uploadModal = document.getElementById("uploadModal");
            uploadModal.style.display = "none";
        }



        function toggleStatus2(statusButton, status, FarmerID) {
            console.log("Status:", status); // Log the status variable
            if (status === "pending") {
                console.log("In if");
                statusButton.textContent = "accepted";
                statusButton.classList.remove("pending");
                statusButton.classList.add("accepted");
                status="accepted";
            } else {
                statusButton.textContent = "pending";
                statusButton.classList.remove("accepted");
                statusButton.classList.add("pending");
                status="pending";
            }
            $.ajax({
                url: '/update_status?laborer_id={{ laborer["LaborerID"] }}&status=' + status + '&FarmerID=' + FarmerID,
                type: 'POST',
                success: function (response) {
                    console.log('Status update successful:', response);
                    // Handle response appropriately

                },
                error: function (xhr, status, error) {
                    console.error('Error updating status:', error);
                }
            });
        }

    </script>
</body>

</html>